* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    .navbar {
      position: absolute;
      width: 100%;
      height: 10%;
      background-color: transparent;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 2;
      .burger {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: block;
      }

      .burger input {
        display: none;
      }

      .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }

      .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }

      .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }

      .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }

      .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }

      .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }

      .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      }
    }
    .main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      .container_intro {
        position: absolute;
        left: 0;
        top: 15%;
        width: 100%;
        height: 80%;
        overflow: hidden;
        white-space: nowrap;  
        .intro {
          position: relative;
          height: 100%;
          width: 100%;
          .container_text{
            position: absolute;
            top: 25%;
            left: 20%;
            font-size: 1000%;
            width: 40%;
            height: 50%;
            white-space: wrap;
          }
          .container_element{
            display: grid;
            width: 60%;
            height: 100%;
            position: absolute;
            left: 30%;
            z-index: 2;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            img{
              width: 70%;
              height: auto;
            }
            #pic1{

            }
            #pic2{}
            #pic3{}
            #pic4{}


          }
        }
        #intro1 {
          position: absolute;
          left: 0;
          top: 0;
          // background-color: aquamarine;
        }
        #intro2 {
          position: absolute;
          left: 100%;
          top: 0;
          // background-color: #000;
        }
        #intro3 {
          position: absolute;
          left: 200%;
          top: 0;
          // background-color: #ff0000;
        }
        #intro4 {
          position: absolute;
          left: 300%;
          top: 0;
          // background-color: #ff0000;
        }
        #intro5 {
          position: absolute;
          left: 400%;
          top: 0;
          // background-color: #ff0000;
        }
        #intro6 {
          position: absolute;
          left: 500%;
          top: 0;
          // background-color: #ff0000;
        }
        #intro7 {
          position: absolute;
          left: 600%;
          top: 0;
          // background-color: #ff0000;
        }
        #intro8 {
          position: absolute;
          left: 700%;
          top: 0;
          // background-color: #ff0000;
        }
      }
    }
  }
}


@keyframes slide1 {
  0%{
    left: 0;
  }
  100%{
    left: -100%;
  }
}

